.MuiTabPanel-root {
  padding: 0px !important;
}
.modal-header .close {
  background-color: "#6D3886" !important;
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
}
.close {
  opacity: 1 !important;
  line-height: 0 !important;
}