.closeModalIcon {
  margin-left: -7px;
  margin-top: -7px;
}

.textfield__label{
  color: black !important;
  font-weight: bold !important;
  font-size: 15px !important;
}

.submitButton
{
  background-color:#434F5F;
  color: #fff;
}